<div class="content" id="home">
  <div id="sidebar-button">
    <img src="http://bangundwikarya.github.io/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="info-container">
      <h2 id="title">{{ page.title }}</h2>
      {% if page.title %}
    <a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a>
{% endif %}
{% if post.title %}
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
{% endif %}
    </div>
  </div>
  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      <span id="pub-date">{{ page.date | date_to_string }}</span>
    </p>
  </div>
</div>
